<style>
	strong {
		font-style:italic;
		font-size: 2em;
		text-transofrm: uppercase;
		color: purple;
</style>

<p style="color: red">text</p>

<p><u>This is underlined</u><p/>

<p><b>This is bold (bad!)</b><p/>
<p><strong>This is strong (good)</strong></p>
<p style="font-weight: bold">This is CSS bolded text (best)</p>

<p><i>This is italicized (bad!)</i></p>
<p><em>This is emphasized (good)</em></p>
<p style="font-style: italic">This is CSS italicized text (best)</p>

<p><center>This is centered text (bad!)</center></p>
<p style="text-align: center">This is CSS centered text (best)<p>

<p><blink>OMG, don't use blink</blink></p>
<p><marquee>OMG, don't use marquee</marquee>